.chat-main
  .chat-main__group-info
    .chat-main__group-info__header
      .chat-main__group-info__name
        = @group.name
      .chat-main__group-info__member
        Member : 
        %ul
          - @group.users.each do |user|
            = user.name
    .chat-main__edit
      = link_to edit_group_path(@group) do
        Edit
  .chat-main__message-list
    .messages
      = render @messages
  .chat-main__message-form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: "input-box__text", placeholder: "type a message"
        = f.label :image, class: "input-box__image" do
          = icon('fas' ,'image')
          = f.file_field :image, class: "input-box__image__file"
      = f.submit 'Send', class: "submit-btn"

    -# .chat-main__message-form__new_message
    -#   .input-box
    -#     %input{type: "text", class: "input-box__text", placeholder: "type a message"}
    -#     %label{class: "input-box__image"}
    -#       = icon('fas' ,'image')
    -#       %input{type: "file",class:"input-box__image__file"}
    -#   .submit-btn
    -#     Send