.chat-side
  .chat-side__user-name
    .chat-side__user-name__top-items
      masa
      .chat-side__user-name__top-items-icons
        = link_to new_group_path do
          = icon('far' ,'edit')
          %spin<>
        = link_to "#", class: "chat-space__btn" do
          = icon('fas' ,'cog')
          %spin<>
  .chat-side__group-list
    - current_user.groups.each do |group|
      .group
        = link_to '#' do
          .chat-side__group-list__name
            = group.name
          .chat-side__group-list__name__messages
            メッセージはまだありません。